# =========================
# Angular
# =========================

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Angular cache
/.angular/cache

# Miscellaneous
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# =========================
# .NET Backend
# =========================

# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/

# Rider / JetBrains
.idea/

# Logs
*.log

# Environment files
.env

# Publish output
publish/

# EF Core local database files
*.db
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/

# ASP.NET Core
appsettings.Development.json

# App settings
appsettings.json
appsettings.Development.json

# VS Code / C# cache
*.lscache
.vscode/